[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Josef Dolezal
	email = pepik.ml@gmail.com
[alias]
	ll = log --oneline --graph --all --decorate
	st = status
	ci = commit
	co = checkout
	cob = checkout -b
	br = branch
	ps = push
	po = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
	dw = diff
	dc = diff --cached
	sv = stash save
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/josef/.gitignore_global
[pull]
	ff = only
