[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Josef Dolezal
	email = pepik.ml@gmail.com
[alias]
	ll = log --oneline --graph --all --decorate
	st = status
	ci = commit
	co = checkout
	br = branch
	ps = push
	po = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/josef/.gitignore_global
